*{
    margin: 0;
    padding: 0;
}
body{
    background-color: cadetblue;
}
.date{
    position: relative;
    top: 13vh;
    left: 30vw;
    width: 500px;
    height: 500px;
}
p{
    position: relative;
    top: 12vh;
    left: 10vw;
    font-size: 23px;
    line-height: 40px;
    color: white;
}
#output{
    position: relative;
    top: 10vh;
    height: 300px;
    border-radius: 10px;
    background-color: rgb(113, 197, 169);
    display: none;
}
.input{
    position: relative;
    top: 35px;
    left: 23%;
    display: flex;
    flex-direction: column;
    width: 50%;
}
input{
    height: 35px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 10px 2px black;
}
button{
    height: 35px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 10px 2px black;
}
label{
    color: white;
    position: relative;
    top: -10px;
}